:root {
	--theme: #e6f252;
	--white: #fff;
	--offWhite: #eee;
	--lightGrey: #ccc;
	--grey: #999;
	--darkGrey: #333;
	--black: #000;

	--XL: 2rem;
	--L: 1.5rem;
	--M: 1rem;
	--S: 0.75rem;
	--XS: 0.5rem;
}
