.header {
	font-size: 1.6rem;
	width: 100vw;
	max-width: 120rem;
	height: 10rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 $screenPadding;
	background-color: var(--offWhite);
	z-index: 9999;
	&__logo {
		min-width: 35%;
		z-index: 9999;
		@include link-hover;
		@include mq("mobile") {
			min-width: 65%;
		}
	}
	&__nav {
		min-width: 50%;
		display: flex;
		justify-content: flex-end;
		gap: 2rem;
		padding: 0 1.5rem;
		position: relative;
		z-index: 9999;
		@include mq("mobile") {
			flex-direction: column;
			width: 100%;
			position: fixed;
			top: 10rem;
			right: 0px;
			transform: translateY(calc(-100% - 10rem));
			padding: 1rem;
			background: var(--white);
			z-index: 9994;
		}
		.nav__pages {
			display: flex;
			justify-content: space-between;
			column-gap: 1rem;
			list-style: none;
			@include mq("mobile") {
				display: flex;
				flex-direction: column;
				justify-content: center;
				list-style: none;
				.nav__page-divider {
					opacity: 0;
				}
			}
			.nav__page {
				margin: 0 1rem;
				text-align: center;
				@include link-hover;
			}
		}
		.nav__links {
			display: flex;
			justify-content: flex-end;
			@include mq("mobile") {
				justify-content: center;
			}
			svg {
				height: 30px;
				width: 30px;
				padding: 0 0.5rem;
				opacity: 0.5;
				@include link-hover;
			}
		}
	}
	&__menu {
		display: none;
		border: none;
		z-index: 9999;
		@include link-hover;
		@include mq("mobile") {
			display: block;
			padding: 0 1.5rem;
			.header__menu-icon {
				height: 6rem;
				width: 6rem;
			}
			.header__menu-icon[name="icon-menu"] {
				display: block;
			}
			.header__menu-icon[name="icon-close"] {
				display: none;
			}
		}
	}

	&__background {
		height: 10rem;
		width: 100%;
		position: absolute;
		left: 0rem;
		background-color: var(--offWhite);
		border-bottom: 0.1rem solid var(--lightGrey);
		z-index: 9995;
	}
}

.header__nav--mobileOpenMenu {
	.header__nav {
		@include mq("mobile") {
			// opacity: 1;
			transform: translateY(0%);
			transition: all 0.5s ease-in-out;
		}
	}
	.header__menu {
		.header__menu-icon[name="icon-menu"] {
			display: none;
		}
		.header__menu-icon[name="icon-close"] {
			display: block;
		}
	}
}
