//------------ ABSTRACT STUFF -------------//
//--VARIABLES, MIXINS, FUNCTIONS, EXTENDS--//

//------------ VARIABLES -------------//
$MqThreadDesktop: 75rem; //@media gurey 1em=1rem=16px;
$MqThreadMobile: 37.5rem;
$screenPadding: 2rem;
:root {
	--theme: #e6f252;
	--white: #fff;
	--offWhite: #eee;
	--lightGrey: #ccc;
	--grey: #999;
	--darkGrey: #333;
	--black: #000;
	// font-size
	--XXXL: 6.4rem;
	--XXL: 4.8rem;
	--XL: 3.2rem;
	--L: 2.4rem;
	--M: 1.6rem; // 16px
	--S: 1rem;
	--XS: 0.8rem;
	--XXS: 0.4rem;
	--XXXS: 0.2rem;
	//font-weight
	--heavy: 900;
	--bold: 700;
	--medium: 500;
	--regular: 400;
	--light: 300;
	//line-height
	--defult: 1;
	--small: 1.05;
	--medium: 1.2;
	--paragraph: 1.6;
	--large: 1.8;
}

//------------ MIXINS -------------//
@mixin mq($device) {
	@if ($device == "desktop") {
		// 1200px/16px=75
		@media only screen and (max-width: $MqThreadDesktop) {
			@content;
		}
	}
	@if ($device == "mobile") {
		// 600px/16px=37.5
		@media only screen and (max-width: $MqThreadMobile) {
			@content;
		}
	}
}

@mixin link-hover {
	&:hover {
		cursor: pointer;
		font-weight: 800;
		opacity: 1;
	}
}

@mixin highlight-hover($color) {
	color: $color;
}

@mixin li-typ {
	li {
		list-style-type: "- ";
		transform: translateX(1rem);
	}
}

@mixin btn-typ {
	button {
		height: 5rem;
		background-color: var(--white);
		font-size: var(--M);
		font-weight: var(--light);
		font-style: italic;
		border: 1px solid var(--grey);
		border-radius: 0.6rem;
		padding: 10px auto;
		margin: 2rem 1rem;
		padding: 0 2rem;
		&:hover {
			cursor: pointer;
		}
	}
}

@function calcPosition($containerWidth, $currentMargin, $extraElem) {
	@return (100vw - $containerWidth / 2 + $currentMargin * 2 + $extraElem);
}

.container {
	min-width: 120rem;
	padding: 0 $screenPadding;
	margin: 0 auto;
	@include mq("desktop") {
		min-width: 100vw;
	}
}

.ft-heavy {
	font-weight: 900;
}

.ft-highlight {
	position: relative;
	background-color: var(--theme);
}

.hide {
	display: none;
}

.modal {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;
	z-index: 999;
	&__container {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-content: center;
		justify-content: center;
		align-items: center;
	}
	&__background {
		position: relative;
		top: 0px;
		height: 100vh;
		width: 100vw;
		background-color: var(--black);
		opacity: 0.3;
	}
	&__window {
		height: 200px;
		width: 360px;
		position: fixed;
		top: 20vh;
		background-color: var(--white);
		opacity: 1;
		margin: 0 auto;
		border: 0px solid var(--white);
		border-radius: 10px;
		padding: 1rem;
		display: grid;
		grid-template-columns: 10% 1fr 10%;
		grid-template-rows: 50% 25% 25%;
	}
	&__icon {
		grid-column: 2/3;
		grid-row: 1/2;
		display: block;
		height: 45px;
		width: 45px;
		align-self: center;
		margin: 0 auto;
	}
	&__msg {
		grid-column: 2/3;
		grid-row: 2/3;
		font-size: var(--L);
		margin: auto 0;
		text-align: center;
	}
	&__detail {
		grid-column: 2/3;
		grid-row: 3/3;
		font-size: var(--M);
		margin: auto 0;
		text-align: center;
	}
}
