.cv {
	max-width: 120rem;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	padding: 0 $screenPadding;

	@include sec-cv;
	&__headline {
		height: 50vh;
		@include headline-page;
	}
	&__summary {
		width: 60%;
		margin-bottom: 150px;
		@include mq("mobile") {
			width: 100%;
		}
		&-p {
			font-size: var(--L);
			margin-bottom: 1rem;
		}
		@include btn-typ;
	}
	&__skills {
		font-size: var(--M);
		margin-bottom: 150px;
	}
	&__work {
		margin-bottom: 150px;
	}
	&__education {
		margin-bottom: 150px;
	}
	&__honers {
		margin-bottom: 150px;
	}
}
