.cv {
	max-width: 120rem;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	padding: 0 $screenPadding;
	&__headline {
		height: 50vh;
		@include headline-page;
	}
	&__summary {
		width: 60%;
		margin-bottom: 150px;
		@include mq("mobile") {
			width: 100%;
		}
		&-p {
			font-size: var(--L);
			margin-bottom: 1rem;
		}
		@include btn-typ;
	}
	&__skills {
		margin-bottom: 150px;
	}
	&__work {
		margin-bottom: 150px;
	}
	&__education {
		margin-bottom: 150px;
	}
	&__honers {
		margin-bottom: 150px;
	}
}

.cv__section {
	&-title {
		font-size: var(--XL);
		line-height: 6rem;
		margin-bottom: 8rem;
	}
	&-highlight {
		width: 40vw;
		height: 10vh;
		background-color: var(--theme);
		position: absolute;
		left: 0px;
		transform: translateY(3rem);
		z-index: -99;
	}
	&-p {
		font-size: var(--M);
		margin-bottom: var(--L);
		padding-left: 1rem;
	}
	&-list {
		list-style: outside;
		list-style-type: none;
		margin-bottom: 3rem;
	}
	&-year {
		font-size: var(--M);
	}
	&-em {
		font-size: var(--L);
		margin-bottom: 0.5rem;
	}
	&-projects {
		font-size: var(--M);
		@include li-typ;
	}

	span {
		background-color: var(--offWhite);
		padding: 0.1rem 0.5rem;
	}
}
