.home {
	max-width: 120rem;
	font-size: var(--M);
	padding: 0 $screenPadding;
	&__summary {
		height: 100vh;
		max-width: 40%;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 25vh;
		@include mq("desktop") {
			max-width: 60%;
		}
		@include mq("mobile") {
			max-width: 90%;
		}
		&-text {
			font-size: var(--XXL);
			height: 100%;
			vertical-align: middle;
			padding-top: 40vh;
			z-index: 999;
		}
		&-image {
			width: 30vw;
			height: 100vh;
			position: absolute;
			right: 0px;
			top: 100px;
			background-color: var(--theme);
			margin: 50px 0px;
		}
		&-background {
			z-index: -99;
			align-self: center;
			position: absolute;
			top: 0px;
			left: 0px;
			height: calc(100vh + 100px);
			width: 100vw;
			background-color: var(--offWhite);
		}
	}
	&__skills {
		display: flex;
		flex-direction: column;
		margin-bottom: 25vh;
		&-title {
			font-size: var(--XL);
			position: relative;
			top: -3rem;
			margin-bottom: 3rem;
		}
		&-highlight {
			width: 30vw;
			height: 10vh;
			position: absolute;
			left: 0px;
			background-color: var(--theme);
			z-index: -99;
			@include mq("mobile") {
				width: 60vw;
				height: 8vh;
			}
		}
		&-text {
			max-width: 60%;
			font-size: var(--L);
			height: 100%;
			z-index: 999;
			@include mq("desktop") {
			}
			@include mq("mobile") {
				max-width: 100%;
			}
			div {
				margin: 30px 0px;
			}
			span {
				line-height: 4rem;
				padding: 0px 10px;
				margin: 2px 2px;
			}
			.black {
				color: var(--white);
				background-color: var(--black);
			}
			.lightGrey {
				background-color: var(--lightGrey);
			}
			@include btn-typ;
		}
	}
	&__portfolio {
		position: relative;
		margin-bottom: 25vh;
		@include mq("mobile") {
			position: inherit;
			position: unset;
		}
		&-title {
			font-size: var(--XL);
			padding: 2rem;
			position: absolute;
			left: 55%;
			margin-bottom: 6rem;
			@include mq("desktop") {
				left: calc(100%);
				transform: translateX(-100%);
			}
			@include mq("mobile") {
				position: relative;
				top: -3rem;
				left: unset;
				padding: 0rem;
				transform: unset;
				font-weight: var(--heavy);
			}
		}
		&-highlight {
			font-size: var(--XL);
			width: 10rem;
			height: 100%;
			background-color: var(--theme);
			padding: 2rem;
			position: absolute;
			left: 55%;
			z-index: -99;
			@include mq("desktop") {
				left: calc(100% - 10rem);
				text-align: end;
			}
			@include mq("mobile") {
				position: absolute;
				left: 0px;
				width: 60vw;
				height: 8vh;
				background-color: var(--theme);
				z-index: -99;
			}
		}
		&-project {
			display: flex;
			flex-wrap: wrap;
			@include mq("desktop") {
				width: calc(100% - 10rem);
				flex-direction: column;
				background-color: var(--offWhite);
				padding-bottom: var(--XXXL);
			}
			@include mq("mobile") {
				width: 100%;
			}
			&-text {
				width: 55%;
				background-color: var(--offWhite);
				padding: var(--XXL);
				@include mq("desktop") {
					width: 100%;
				}
				.title {
					font-size: var(--L);
					border-left: 2px solid var(--black);
					padding-left: 1rem;
					line-height: 3rem;
					margin-bottom: 1rem;
				}
				.sub {
					font-size: var(--L);
					margin-bottom: 1rem;
				}
				@include li-typ;
			}
			&-image {
				padding: var(--L);
				padding-top: calc(var(--XXXL) + 2rem);
				width: 45%;

				@include mq("desktop") {
					width: 100%;
					padding-top: var(--L);
				}
				.image {
					width: 100%;
					max-height: 65vh;
					object-fit: scale-down;
				}
			}
		}
	}
	&__training-title {
		font-size: var(--XL);
		text-align: center;
	}
	&__training {
		max-width: 120rem;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		color: var(--white);
		background-color: var(--black);
		margin-bottom: 5rem;
		padding: 2rem;
		@include mq("desktop") {
			max-width: 100%;
		}
		&-course {
			width: 40%;
			margin-bottom: var(--XL);
			@include mq("mobile") {
				width: 80%;
				margin-bottom: var(--XL);
			}
			.title {
				text-align: center;
			}
			.svg-text {
				text-align: center;
				font: var(--XXL) Arial, serif;
				font-weight: 900;
				color: rgb(34, 51, 68);
				svg {
					width: 80px;
					padding: 0px;
					vertical-align: middle;
				}
			}
			svg {
				height: 80px;
				width: 100%;
				padding: 1rem 0;
			}
		}
	}
}
